*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

$base: ghostwhite;
$light: #106E71;
$bright: #F7E7CE;
$dark: #0B0B45;
$second-base: #ff5349;
$third-base: #d1edf2;
$shaddy: #434b56;

$font-family: (
    'heading': 'Comfortaa',
    'navigation': 'Italianno',
    'other-text': 'Poppins',
);

$font-size: (
    'smallest': 1.3rem,
    'small': 1.7rem,
    'regular' : 2.5rem,
    'medium' : 3rem,
);

$line-height: (
    'low': 1.5rem,
    'regular': 2.5rem,
    'medium': 3rem,
    'high': 3.5rem,

);

$height: (
    'toddler': 80px,
    'tween': 104px,
    'teen': 120px,
    'adult': 1080px,
);

$width: (
    'wide': 100px,
    'wide-ish': 200px,
    'wider': 500px,
);

$border-radius: (
    'lowest': 0.2rem,
    'lower': 5px,
    'normal': 0.5rem,
    'higher': 1rem,
    'highest': 2rem,
);

body {
    background-color: $light;
    color: $bright;
    font-size: map-get($font-size, smallest);
    line-height: map-get($line-height,low);
    height: map-get($height,adult);
}

nav {
    width: 100%;
    height: map-get($height,tween);
}
  
.navbar,
.resources-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    border-bottom: 0.4px solid $bright;
}

.logo {
    height: 150px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
a {
    color: $bright;
    text-decoration: none;
}

li {
    display: inline-block;
    font-size: map-get($font-size,smallest);
    padding: 0 1.3rem;
    list-style: none;
}
  
  li:hover {
    text-decoration: underline;
}

h1 {
    font-size: map-get($font-size,medium);
    line-height: map-get($line-height,high);
}
  
h2 {
    font-size: map-get($font-size,regular);
    line-height: map-get($line-height,medium);
}
  
h3 {
    font-size:map-get($font-size,small);
    line-height: map-get($line-height,regular);
}
  
h5 {
    font-size: map-get($font-size,smallest);
    line-height: map-get($line-height,regular);
    font-weight: lighter;
}
  
p {
    width: map-get($width,wider);
    font-size: map-get($font-size,smallest);
}

.navbar {
    font-family: map-get($font-family,navigation);
  }
  
  h1, h2, h3{
   font-family: map-get($font-family,heading);
  }
  
  .journal-time, .journal-meal, .journal-mood, h5{
    font-family:map-get($font-family,other-text);
    font-weight: lighter;
  }
  
  p, #food-fact-content, span {
    font-family:map-get($font-family,other-text);
  }

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
      "header header header header"
      "left content content right"
      "left content content right"
      "left content content right"
      "left content content right";
    gap: 20px;
    height: map-get($height,adult);
    padding-bottom: 30px;
}

.grid-header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
}
  
.grid-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: left;
}
  
.grid-left-side p {
    margin-bottom: 20px;
    text-align: center;
    width: map-get($width,wide-ish);
}

#foodInput {
    padding: 0.5rem 2rem;
    width: 80%;
    margin-bottom: 20px;
    border-radius: map-get($border-radius, lowest);
}
  
#nutrition-button {
    padding: 0.5rem 1.5rem;
    border-radius: map-get($border-radius, lowest);
    cursor: pointer;
    border: 0.5px solid $bright;
}

.food-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: map-get($font-size,smallest);
    line-height: 0.8rem;
    height: 230px;
    width: 210px;
    margin-top: 40px;
    background: linear-gradient(0.5turn, rgba(0, 0, 0, 0.668), rgba(0, 0, 0, 0.668));
    border: 2px solid $bright;
    border-radius: map-get($border-radius, normal);
}

.grid-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: content;
    padding-left: 240px;
    background: linear-gradient(rgba(0, 0, 0, 0.262), rgba(0, 0, 0, 0.565));
    background-image: url(../images/bg.jpeg) no-repeat center / cover;
    border: 2px solid $bright;
    border-radius: map-get($border-radius, normal);
}

.modal-container {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark;
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark;
    padding: 20px;
    width: 500px;
    height: auto;
    box-shadow: 0 4px 8px $shaddy;
    border-radius: map-get($border-radius, lower);
}

#openModal {
    width: 250px;
    padding: 0.8rem 1.4rem;
}

.grid-right-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: right;
    width: 300px;
}

#food-fact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-top: 35px;
    padding: 1.5rem;
    height: 300px;
    background: linear-gradient(0.5turn, rgba(0, 0, 0, 0.668), rgba(0, 0, 0, 0.668));
    overflow-x: hidden;
    border: 2px solid $bright;
    border-radius: map-get($border-radius, normal);
}

#food-fact-content {
    position: relative;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-size: 1.3rem;
    width: 210px;
    justify-self: center;
    align-self: center;
}

#themodal {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 760px;
    height: 100%;
    max-height: 760px;
    border: 2px solid $bright;
    transform: translate(-50%, -50%);
    background-color: $light;
    border-radius: map-get($border-radius, normal);
    height: 640px;
}

.thecontent {
    display: flex;
}
  
  
.left-side {
    flex: 1;
    padding: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.262), rgba(0, 0, 0, 0.565));
    background-image: url(../images/modal.jpg);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    height: 635px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: map-get($font-size,medium);
}

.right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}

.right-side input {
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 100%;
}

#foodinput {
    background-position: 1%;
    background-image: url(../images/food.jpg);
    padding-left: 1rem;
    background-repeat: no-repeat;
    background-size: 2.2rem;
    padding: 10px 22px 10px 44px;
}

#feelWhile {
    background-position: 1%;
    background-image: url(../images/thoughts.jpg);
    padding-left: 1rem;
    background-repeat: no-repeat;
    background-size: 2.2rem;
    padding: 10px 22px 10px 44px;
}

#feelAfter {
    background-position: 1%;
    background-image: url(../images/feeling.png);
    padding-left: 1rem;
    background-repeat: no-repeat;
    background-size: 2.2rem;
    padding: 10px 22px 10px 44px;
}

#conclusion {
    background-position: 1%;
    background-image: url(../images/foodforthought.png);
    padding-left: 1rem;
    background-repeat: no-repeat;
    background-size: 2.2rem;
    padding: 10px 22px 10px 44px;
}

#modalSubmit {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    display: block;
    justify-content: center;
    margin-left: 25%;
    padding: 1rem;
    text-transform: lowercase;
    border-radius: map-get($border-radius, higher);
    cursor: pointer;
}

button {
    display: inline-block;
    background-color: $light;
    color: $bright;
    border: 0.5px solid $bright;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    padding: 1rem;
    border-radius: map-get($border-radius, lowest);
    box-shadow:  0 12px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: $dark;
}
  
.closeBtn {
    padding-right: .5rem;
    cursor: pointer;
  
}
  
.thecontent span {
    padding: 1rem;
}

.journal-container {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "jheader jheader jheader jheader"
      "jleft jmeal jmood jmood"
      "jleft jmeal jmood jmood"
      "jleft jmeal jmood jmood"
      "jleft jmeal jmood jmood ";
    gap: 5px;
    margin: 0 1.5rem;
}

.journal-header {
    grid-area: jheader;
    border: 1px solid $bright;
    border-radius: 0.5rem;
    text-align: center;
}

.journal-time {
    grid-area: jleft;
    border: 1px solid $bright;
    border-radius: 0.2rem 0rem 0rem 0.2rem;
  
}

.journal-meal {
    grid-area: jmeal;
    border: 1px solid $bright;
  
}
  
.journal-mood {
    grid-area: jmood;
    border: 1px solid $bright;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
  
}

footer {
    text-align: center;
    font-weight: lighter;
}

@keyframes slideIn {
    0% {
      transform: translateX(120%);
    }
  
    100% {
      transform: translateX(0);
    }
}
  
@keyframes slideOut {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-120%);
    }
}
  
.slide-in {
    animation-name: slideIn;
}
  
.slide-out {
    animation-name: slideOut;
}


  