:root {
  --font-color: ghostwhite;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(16, 110, 113);
  color: var(--font-color);
  font-size: 16px;
  line-height: 24px;
  height: 100vh;
}

nav {
  width: 100%;
  height: 104px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  border-bottom: 0.4px solid var(--font-color);
}

.logo {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

li {
  display: inline-block;
  font-size: 1.3rem;
  padding: 0 1.3rem;
  list-style: none;
}

li:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.7rem;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas: 
  "header header header header"
  "left content content right"
  "left content content right"
  "left content content right"
  "left content content right";
  gap: 20px;
  height: 100vh;
  margin-bottom: 100px;
}

.grid-header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
}

.grid-left-side {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-area: left;
  margin-left: 12px;
}

.grid-left-side p {
  text-align: center;
  padding-bottom: 14px;
}

.grid-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: content;
  padding-left: 240px;
  background: linear-gradient(rgba(0, 0, 0, 0.262), rgba(0, 0, 0, 0.565)), url(../images/bg.jpeg) no-repeat center / cover;
  border: 2px solid var(--font-color);
}

.modal-container {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  width: 500px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#openModal {
  width: 250px;
  padding: 0.8rem 1.4rem;
}

.grid-right-side {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: right;
  width: 300px;
}

#food-fact-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-top: 35px;
  padding: 1.5rem;
  height: 300px;
  background: linear-gradient(0.5turn, rgba(0, 0, 0, 0.668), rgba(0, 0, 0, 0.668));
  overflow-x: hidden;
  border: 2px solid var(--font-color);
}

#food-fact-content {
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-size: 1.3rem;
  width: 210px;
  justify-self: center;
  align-self: center;
}

#themodal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 760px;
  height: 100%;
  max-height: 760px;;
  transform: translate(-50%, -50%);
  background-color: rgb(16, 110, 113);
  border-radius: .5rem;
}

.thecontent {
  display: flex;
}


.left-side {
  flex: 1;
  padding: 1rem;
  background:  linear-gradient(rgba(0, 0, 0, 0.262), rgba(0, 0, 0, 0.565)), url(../images/modal.jpg);
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  height: 760px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.right-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}

.right-side input {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  padding: 12px 20px;
  margin-bottom: 2rem;
  box-sizing: border-box;
  width: 100%;
  
  
}


#foodinput { 
  background-position: 1%;
  background-image: url(../images/food.jpg);
  padding-left: 1rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  padding: 12px 20px 12px 40px;
  
}

#feelWhile {
  background-position: 1%;
  background-image: url(../images/thoughts.jpg);
  padding-left: 1rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  padding: 12px 20px 12px 40px;

}

#feelAfter {
  background-position: 1%;
  background-image: url(../images/feeling.png);
  padding-left: 1rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  padding: 12px 20px 12px 40px;
}

#conclusion {
  background-position: 1%;
  background-image: url(../images/foodforthought.png);
  padding-left: 1rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  padding: 12px 20px 12px 40px;
}

#modalSubmit {
  box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
  width: 50%;
  display: block;
  justify-content: center;
  margin-left: 25%;
  padding: 1rem;
  text-transform: lowercase;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.closeBtn {
  padding-right: .5rem;
  cursor: pointer;

}

.thecontent span {
  padding: 1rem;
}



.journal-container {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "jheader jheader jheader jheader"
    "jleft jmeal jmood jmood"
    "jleft jmeal jmood jmood"
    "jleft jmeal jmood jmood"
    "jleft jmeal jmood jmood ";
  gap: 10px;
  height: 100vh;
  margin: 2rem 1.3rem;
}

.journal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: jheader;
  border: 2px solid white;
}

.time-header,
.log-header,
.mood-header {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

#foodInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.5turn, rgba(0, 0, 0, 0.668), rgba(0, 0, 0, 0.668));
  font-size: 1.3rem;
  line-height: 1.2rem;
  margin-top: 30px;
  padding-bottom: 20px;
  border: 2px solid var(--font-color);
  height: 200px;
  width: 210px;
}

.food-info {
  display: inline-block;
  margin-top: 20px;
  line-height: 18px;
  padding: 0 16px;
}

.journal-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: jleft;
  border: 2px solid white;
}

.journal-time p,
.journal-mood p {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

#foodInput {
  padding: 0.5rem 1rem;
  width: 80%;
}

.journal-meal {
  display: block;
  grid-area: jmeal;
  border: 2px solid white;
}

#nutrition-button {
  display: block;
  margin-top: 8px;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.journal-mood {
  grid-area: jmood;
  border: 2px solid white;
}

@keyframes slideIn {
  0% {
    transform: translateX(120%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-120%);
  }
}

.slide-in {
  animation-name: slideIn;
}

.slide-out {
  animation-name: slideOut;
}