:root {
  --font-color: ghostwhite;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#themodal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 760px;
  height: 100%;
  max-height: 760px;;
  transform: translate(-50%, -50%);
  background-color: rgb(16, 110, 113);
  border-radius: .5rem;
}

.thecontent {
  display: flex;
}


.left-side {
  flex: 1;
  padding: 1rem;
  background:  linear-gradient(rgba(0, 0, 0, 0.262), rgba(0, 0, 0, 0.565)), url(../images/modal.jpg);
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  height: 760px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.right-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-side input {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  padding: 12px 20px;
  margin-bottom: 2rem;
  box-sizing: border-box;
  width: 100%;
  
  
}


#foodinput { 
  background-position: 1%;
  background-image: url(../images/food.jpg);
  padding-left: 1rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  padding: 12px 20px 12px 40px;
  
}

#feelWhile {
  background-position: 1%;
  background-image: url(../images/thoughts.jpg);
  padding-left: 1rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  padding: 12px 20px 12px 40px;

}

#feelAfter {
  background-position: 1%;
  background-image: url(../images/feeling.png);
  padding-left: 1rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  padding: 12px 20px 12px 40px;
}

#conclusion {
  background-position: 1%;
  background-image: url(../images/foodforthought.png);
  padding-left: 1rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  padding: 12px 20px 12px 40px;
}

#modalSubmit {
  box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
  width: 50%;
  display: block;
  justify-content: center;
  margin-left: 25%;
  padding: 1rem;
  text-transform: lowercase;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.closeBtn {
  padding-right: .5rem;

}

.rank {
  color: white;
  cursor: pointer;
}

.rank:hover,
.rank:active {
  color: gold;
}

.right-side {
  flex: 1;
  padding: 1rem;
}

.closeBtn {
  cursor: pointer;
}

.thecontent span {
  padding: 1rem;
}



body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas: 
  "header header header header"
  "left content content right"
  "left content content right"
  "left content content right"
  "left content content right";
  gap: 20px;
  background-color: rgb(16, 110, 113);
  color: var(--font-color);
  font-size: 16px;
  line-height: 24px;
  height: 100vh;
}

#page-load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#logo-vid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
}

nav {
  width: 100%;
  height: 104px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  border-bottom: 0.4px solid var(--font-color); 
}

.logo {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

li {
  display: inline-block;
  font-size: 1.3rem;
  padding: 0 1.3rem;
  list-style: none;
  transition: 300ms ease-in-out;
}

li:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.7rem;
  line-height: 2.5rem;
}

p {
  width: 500px;
}


.grid-header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
}

.grid-left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-area: left;
}

.grid-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: content;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 240px;
  background: linear-gradient(rgba(0, 0, 0, 0.262), rgba(0, 0, 0, 0.565)), url(../images/bg.jpeg) no-repeat center / cover;
  border: 2px solid var(--font-color); 
}

#modal {
  font-size: 20px;
  padding: 1rem 2rem;
  margin-top: 30px;
  width: 200px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.grid-right-side {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: right;
  width: 300px;
}

#food-fact-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-top: 30px;
  padding: 1.5rem;
  height: 230px;
  background: linear-gradient(0.5turn, rgba(0, 0, 0, 0.668), rgba(0, 0, 0, 0.668));
  overflow-x: hidden;
  border: 2px solid var(--font-color);
}

#food-fact-content {
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-size: 1.3rem;
  width: 210px;
  justify-self: center;
  align-self: center;
}

@keyframes slideIn {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform :translateX(-120%);
  }
}

.slide-in {
  animation-name: slideIn;
}

.slide-out {
  animation-name: slideOut;
}